ion-toast.custom-success {
  --background: #e1f8e1;
  --color: #07d300;
}

ion-toast.custom-error {
  --background: #ffe1e1;
  --color: #d3004c;
}

ion-toast {
  --background: #e8eaed;
  --color: black;
}

.ion-padding {
  --padding-top: 0.25rem;
}

ion-back-button {
  --padding-start: 0;
  --padding-end: 0;
  min-width: 1rem;
  min-height: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

// Hide all elements
body.barcode-scanning-active {
  /*visibility: hidden;*/
  --background: transparent;
  --ion-background-color: transparent;
}

// Show only the barcode scanner modal
.barcode-scanning-modal {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .barcode-scanning-modal {
    --background: transparent;
    --ion-background-color: transparent;
  }
}
