@tailwind base;

/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

$font-path: '../assets/fonts';

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/InterDisplay-Regular.ttf');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/InterDisplay-SemiBold.ttf');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/InterDisplay-Bold.ttf');
}

@layer base {
  /** Ionic CSS Variables **/
  :root {
    --wheel-fade-background-rgb: 255, 255, 255;
    /** primary **/
    --ion-color-primary-background: rgba(7, 182, 193, 0.2);
    --ion-color-primary: #07b6c1;
    --ion-color-primary-rgb: 7, 182, 193;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #06a0aa;
    --ion-color-primary-tint: #20bdc7;

    /** secondary **/
    --ion-color-secondary: #a3e03f;
    --ion-color-secondary-rgb: 163, 224, 63;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #8fc537;
    --ion-color-secondary-tint: #ace352;

    /** tertiary **/
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger-background: #FFE1E1;
    --ion-color-danger: #D3004C;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255, 255, 255;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 0, 0, 0;

    --ion-border-color: #f5f5f6;
    --ion-border-color-rgb: 226, 232, 240;

    --ion-item-background: #ffffff;
    --ion-item-background-rgb: 244, 245, 245;

    --ion-toolbar-background: #ffffff;
    --ion-toolbar-background-rgb: 255, 255, 255;

    --ion-tab-bar-background: #ffffff;
    --ion-tab-bar-background-rgb: 255, 255, 255;

    --ion-card-background: var(--ion-background-color);
    --ion-card-foreground: var(--ion-text-color);
  }

  .transparent {
    --ion-toolbar-background: transparent;
  }
}

html {
  /* For more information on dynamic font scaling, visit the documentation:
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
  --ion-font-family: 'InterDisplay';
}

* {
  font-family:
    'InterDisplay',
    -apple-system,
    'Roboto',
    sans-serif;
}

img {
  max-width: 100%;
  display: block;
}
